@tailwind base;
@tailwind components;
@tailwind utilities;

/*Header*/
.t-header-responsivity {
  /* @media (min-width: 768px) and (max-width: 834px) {
    justify-content: center !important;
    gap: 3rem;
    padding: inherit !important;
  } */
}

.t-menu-responsivity {
  /* @media (min-width: 768px) and (max-width: 834px) {
    gap: 0.5rem !important;
  } */
}

.img-responsive {
  @media (width: 768px) {
  }
}

/*HomeSection and Knowmore*/
.body-container {
  background: linear-gradient(132deg, #3c3431 0%, #16120f 100%);
  background-repeat: no-repeat;
  color: var(--default-font-color);
}

.princpal-colors {
  /* background: linear-gradient(
    90deg,
    rgba(255, 215, 0, 1),
    rgba(184, 155, 1, 1),
    rgba(255, 215, 0, 1),
    rgba(184, 155, 1, 1),
    rgba(255, 215, 0, 1)
  ); */
  color: rgba(255, 215, 0, 1);
  /* background-clip: text;
  text-fill-color: transparent; */
}

.home-title {
  @media (min-width: 1680px) {
    width: 100% !important;
  }
}
.home-subtitle {
  @media (min-width: 1680px) {
    font-size: 1.8rem !important;
  }
}
.p-container {
  @media (min-width: 1680px) {
    height: 92.4vh !important;
  }
  @media (min-width: 1920px) {
    height: 92.6vh !important;
  }
}

.r-img {
  @media (min-width: 1680px) {
    width: 890px !important;
    margin-left: -10%;
    position: absolute;
    top: 4rem;
  }
  @media (min-width: 1920px) {
    width: 917px !important;
    margin-left: -5%;
  }
}

.content {
  @media (min-width: 1680px) {
    font-size: 2rem !important;
  }
}

.k-r {
  @media (min-width: 1680px) {
    padding: 0rem 3rem;
  }
  @media (min-width: 1920px) {
    padding: 0rem 3.5rem;
  }
}

.kt-r {
  @media (min-width: 1680px) {
    font-size: 2rem !important;
  }
}

.kst-r {
  @media (min-width: 1680px) {
    font-size: 1.7rem !important;
  }
  @media (min-width: 1920px) {
    font-size: 1.7rem !important;
    width: 70%;
  }
}

.ktn-button button {
}
