@tailwind base;
@tailwind components;
@tailwind utilities;

/*Header*/
.t-header-responsivity {
  /* @media (min-width: 768px) and (max-width: 834px) {
    justify-content: center !important;
    gap: 3rem;
    padding: inherit !important;
  } */
}

.t-menu-responsivity {
  /* @media (min-width: 768px) and (max-width: 834px) {
    gap: 0.5rem !important;
  } */
}

.img-responsive {
  @media (width: 768px) {
  }
}

/*HomeSection and Knowmore*/
.body-container {
  background: linear-gradient(132deg, #3c3431 0%, #16120f 100%);
  background-repeat: no-repeat;
  color: var(--default-font-color);
}

.princpal-colors {
  /* background: linear-gradient(
    90deg,
    rgba(255, 215, 0, 1),
    rgba(184, 155, 1, 1),
    rgba(255, 215, 0, 1),
    rgba(184, 155, 1, 1),
    rgba(255, 215, 0, 1)
  ); */
  color: rgba(255, 215, 0, 1);
  /* background-clip: text;
  text-fill-color: transparent; */
}
