@tailwind base;
@tailwind components;
@tailwind utilities;

/*Header*/
.t-header-responsivity {
  /* @media (min-width: 768px) and (max-width: 834px) {
    justify-content: center !important;
    gap: 3rem;
    padding: inherit !important;
  } */
}

.t-menu-responsivity {
  /* @media (min-width: 768px) and (max-width: 834px) {
    gap: 0.5rem !important;
  } */
}

.img-responsive {
  @media (width: 768px) {
  }
}

/*HomeSection and Knowmore*/
.body-container {
  background: linear-gradient(132deg, #3c3431 0%, #16120f 100%);
  background-repeat: no-repeat;
  color: var(--default-font-color);
}

.princpal-colors {
  /* background: linear-gradient(
    90deg,
    rgba(255, 215, 0, 1),
    rgba(184, 155, 1, 1),
    rgba(255, 215, 0, 1),
    rgba(184, 155, 1, 1),
    rgba(255, 215, 0, 1)
  ); */
  color: rgba(255, 215, 0, 1);
  /* background-clip: text;
  text-fill-color: transparent; */
}

.content-container {
  @media (width: 1440px) {
    padding: 0.5rem !important;
  }
  @media (min-width: 1360px) and (max-width: 1366px) {
    padding-bottom: 0.5rem !important;
  }
  @media (min-width: 1680px) {
  }
}

.home-title {
  /* @media (width: 1280px) and (height: 950px) {
    width: 75%;
    padding-left: 2.5rem !important;
  } */
  @media (width: 1440px) {
    font-size: 2.25rem;
    width: 80% !important;
  }
  @media (min-width: 1680px) {
    width: 100% !important;
  }
  /* @media (min-width: 1360px) and (max-width: 1366px) {
    width: 100%;
    font-size: 2rem;
  } */
}
.home-subtitle {
  @media (min-width: 1680px) {
    font-size: 1.8rem !important;
  }
}
.p-container {
  @media (width: 1280px) and (height: 950px) {
    height: 91.6vh !important;
  }
  @media (width: 1440px) {
    height: 91.1vh !important;
  }
  @media (min-width: 1680px) {
    height: 92.4vh !important;
  }
  @media (min-width: 1920px) {
    height: 92.6vh !important;
  }
  /* @media (min-width: 1360px) and (max-width: 1366px) {
    height: 92vh;
  } */
}

.r-img {
  @media (width: 1280px) and (height: 950px) {
    width: 800px !important;
    margin-left: -15%;
    position: absolute;
    top: 4rem;
  }

  @media (min-width: 1360px) and (max-width: 1366px) {
    width: 620px !important;
  }
  @media (width: 1440px) {
    width: 760px !important;
  }
  @media (min-width: 1680px) {
    width: 890px !important;
    margin-left: -10%;
    position: absolute;
    top: 4rem;
  }
  @media (min-width: 1920px) {
    width: 917px !important;
    margin-left: -5%;
  }
}

.content {
  /* @media (width: 1280px) and (height: 950px) {
    width: 95%;
  } */
  /* @media (width: 1440px) {
    font-size: 1.5rem;
  } */
  /* @media (min-width: 1360px) and (max-width: 1366px) {
    width: 90%;
    font-size: 1.5rem;
    line-height: 1.8rem;
  } */
  @media (min-width: 1680px) {
    font-size: 2rem !important;
  }
}

.k-r {
  @media (width: 1440px) {
    gap: 2rem;
    padding: 0rem 2.5rem;
  }
  @media (min-width: 1360px) and (max-width: 1366px) {
    padding: 0rem 2rem;
  }
  @media (min-width: 1680px) {
    padding: 0rem 3rem;
  }
  @media (min-width: 1920px) {
    padding: 0rem 3.5rem;
  }
}

.kn-content {
  @media (min-width: 1360px) and (max-width: 1366px) {
  }
}

.kt-r {
  @media (min-width: 1680px) {
    font-size: 2rem !important;
  }
}

.kst-r {
  @media (min-width: 1360px) and (max-width: 1366px) {
    padding: 0px !important;
    font-size: 1.4rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.05rem !important;
  }
  @media (min-width: 1680px) {
    font-size: 1.7rem !important;
  }
  @media (min-width: 1920px) {
    font-size: 1.7rem !important;
    width: 70%;
  }
}

.kn-button {
  @media (min-width: 1360px) and (max-width: 1366px) {
    padding-top: 0.8rem !important;
    justify-content: start;
  }
  @media (width: 1440px) {
    padding-top: 1rem !important;
  }
}

.ktn-button button {
  @media (width: 1440px) {
    font-size: 2rem !important;
    padding: 1rem 0rem !important;
  }
}
